<IfModule mod_mime.c>
  AddType model/gltf-binary .glb
  AddType model/gltf+json .gltf
  AddType audio/flac .flac
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(glb|gltf|flac)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
